Source: crosstool-ng
Section: devel
Priority: optional
Maintainer: Alexis Murzeau <amubtdx@gmail.com>
Build-Depends: debhelper-compat (=13),
 libncurses-dev,
 gperf,
 flex,
 texinfo,
 help2man,
 gawk,
 bzip2,
 gettext,
 unzip,
# Dependencies from config/configure.in.in
 lzip,
 wget,
 curl,
 meson,
 ninja-build,
 rsync,
 libtool-bin,
 autoconf,
 automake,
 python3,
 bison,
 device-tree-compiler,
 subversion,
 git
Standards-Version: 4.0.0
Homepage: http://crosstool-ng.org/
Vcs-Git: https://github.com/amurzeau/crosstool-ng-debian.git
Vcs-Browser: https://github.com/amurzeau/crosstool-ng-debian
Testsuite: autopkgtest

Package: crosstool-ng
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 build-essential,
 gawk,
 m4,
 gperf,
 flex,
 texinfo,
 bzip2,
 lzip,
 wget,
 curl,
 meson,
 ninja-build,
 rsync,
 make,
 libtool-bin,
 autoconf,
 automake,
 autotools-dev,
 python3,
 bison,
 device-tree-compiler,
 subversion,
 git,
Description: Create your own cross toolchains
 Crosstool-NG aims at building toolchains. Toolchains are an essential
 component in a software development project. It will compile, assemble and
 link the code that is being developed.
 .
 The usual toolchain is called "native" and is in packages
 like 'clang' and 'gcc' (This package is not needed for doing
 native development).
 .
 This package is for generating toolchains when doing development
 on a foreign architecture (when you need a cross compiler).
