Source: crosstool-ng
Section: devel
Priority: optional
Maintainer: Alexis Murzeau <amubtdx@outlook.fr>
Build-Depends: debhelper-compat (=13),
 dh-autoreconf,
 autoconf,
 automake,
 autotools-dev,
 libncurses5-dev,
 gperf,
 bison,
 flex,
 texinfo,
 help2man,
 gawk,
 wget,
 git,
 subversion,
 bzip2,
 libtool-bin
Standards-Version: 4.0.0
Homepage: http://crosstool-ng.org/
Vcs-Git: https://github.com/amurzeau/crosstool-ng-debian.git
Vcs-Browser: https://github.com/amurzeau/crosstool-ng-debian
Testsuite: autopkgtest

Package: crosstool-ng
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 build-essential,
 gawk,
 wget,
 m4,
 gperf,
 bison,
 flex,
 texinfo,
 libtool-bin,
 bzip2
Description: Create your own cross toolchains
 Crosstool-NG aims at building toolchains. Toolchains are an essential
 component in a software development project. It will compile, assemble and
 link the code that is being developed.
 .
 The usual toolchain is called "native" and is in packages
 like 'clang' and 'gcc' (This package is not needed for doing
 native development).
 .
 This package is for generating toolchains when doing development
 on a foreign architecture (when you need a cross compiler).
